@media (min-width: 1024px) {
  .login-btn {
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  .logo-page {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .name-branch-top {
    margin-left: -10px;
  }

  .name-branch-bottom {
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
  }

  .menu-mobile-right {
    display: flex;
    align-items: center;
    width: 150px;
  }

  .switch-btn {
    display: none;
  }

  .login-btn {
    width: 80px;
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .logo-page {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  .name-branch-top {
    margin-top: -5px;
  }

  .name-branch-bottom {
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
  }

  .menu-mobile-right {
    display: flex;
    align-items: center;
    width: 150px;
  }

  .switch-btn {
    display: none;
  }

  .login-btn {
    width: 80px;
    margin-right: 10px;
    font-size: 13px;
  }
}
