.ant-modal-header .ant-modal-title {
  font-size: 20px;
  color: #16a34a;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  font-weight: 700;
  padding: 10px 14px;
  margin-bottom: 8px;
}

.ant-modal-header .ant-modal-title::after {
  content: "";
  width: 80px;
  height: 4px;
  position: absolute;
  left: 40px;
  bottom: -2px;
  margin: 0 0 0 -40px;
}

.ant-modal-content .ant-modal-body {
  max-height: calc(100vh - 130px);
  overflow: hidden auto;
  padding: 0px 4px 0px 16px;
}

.ant-modal .ant-modal-content {
  padding: 16px 20px;
  border-radius: 16px;
}

.ant-modal-content .ant-modal-footer {
  padding: 10px 14px;
}
